.DS_store
__pycache__/
instance/
build/
workload_scenario_1.xml
workload_scenario_2.xml
workload_scenario_3.xml
MQSim
trace/
env/

.venv/
real_data/traces/
results/
real_data/uploaded_traces/prn_0.csv
real_data/uploaded_traces/proj_0.csv
server_info
