<div class="col-4">
    <p>Author and Developers</p>
    <img src="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4" alt="Habib" style="height: 100px;">
    <img src="https://www.gnu.ac.kr/upload/soft/pi/img_2b8e6725-57c7-4e23-a170-fedc0c45c2e51711412262157.jpg" alt="Jaeho Kim" style="height: 100px;">
    <img src="https://avatars.githubusercontent.com/u/6971560?v=4" alt="Omar Faroque" style="height: 100px;">
    <p></p>
    <a href="https://github.com/bithabib" target="_blank">
        <i class="fab fa-github"></i> Habibur Rahman 
    </a>/
    <a href="https://kjhnet.github.io/" target="_blank">
        <i class="fab fa-github"></i> jaeho Kim
    </a>/
    <a href="https://github.com/nanofaroque" target="_blank">
        <i class="fab fa-github"></i> Omar Farouqe
    </a>
</div>