.vertical-line {
    background-color: blue;
    width: 5px;
    height: 100px;

}

.blue-div {
    background-color: blue;
    width: 40%;
    height: 100px;
    color: black;
    /* Adjust height as needed */
}

.black-div {
    background-color: black;
    width: 40%;
    height: 100px;
    color: white;
    /* Adjust height as needed */
}

.gray-div {
    background-color: gray;
    width: 80%;
    height: 200px;
    /* Adjust height as needed */
    position: relative;
}

.smaller-div {
    width: 100%;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    background-color: blue;
    color: white;
    /* Placeholder color */
}

