<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habibur Rahman - Quantum Computing and Machine Learning</title>
    <meta name="description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta name="keywords"
        content="Habibur Rahman, Quantum Computing, Machine Learning, Gyeongsang National University, Research Assistant, Big Data Software Laboratory, Eshyana, Quantum Computer Simulator, Quantum Computing Education, Quantum Computing Research">
    <meta name="author" content="Habibur Rahman">
    <meta name="language" content="English">
    <meta property="og:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta property="og:description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qbithabib.com">
    <meta property="og:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <meta property="og:site_name" content="Habibur Rahman">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta name="twitter:description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta name="twitter:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body id="">
    <!-- Your home page content goes here -->
    <!-- Lab Name and Description -->
    {% include 'includes/header.html' %}
    <div class="container" style="margin-top: 3%;">
        <div class="row">
            <div class="col-8">
                <h1>
                    Eyana the SSD Simulator
                </h1>
                <p>
                    Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell
                    (called floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to
                    facilitate a comprehensive understanding of SSDs by providing students with a visual representation
                    of the internal workings of SSDs and transistors NAND cells. Although there are existing simulators,
                    they take a considerable amount of time for beginner users to understand and are difficult to
                    understand deeply. Our research showcases the simulator’s profound impact on understanding SSD
                    technology, significantly reducing learning time, and enhancing comprehension among students.
                    <br>
                    <br>
                    By offering an immersive visualization of NAND flash memory cells, single level cell (SLC),
                    multi-level
                    cell (MLC), and triple-level cell (TLC) structures, the simulator demystifies the storage and
                    management of data within SSDs. The paper delves into SSD architecture and organization,
                    encompassing pages, blocks, the flash translation layer (FTL), logical block mapping, wear leveling,
                    and over-provisioning, providing an in-depth understanding of these fundamental components. Crucial
                    SSD functionalities such as read, write, and erase operations, garbage collection, TRIM, and their
                    roles in maintaining SSD performance are clarified. Moreover, the research explores advanced
                    functionalities, parallelism strategies and allocation methods (dynamic and static allocation). Our
                    simulators are able to extend data placement policies such as Multi-streamed, Zoned Namespaces,
                    Flexible Data Placement, etc.
                    <br>
                    <br>
                    Feedback from a survey involving over thousand students and researchers validates the simulator’s
                    effectiveness in improving SSD comprehension and learning speed. This paper also outlines potential
                    applications in industry settings, underlining the simulator’s utility for professionals and
                    students. Our innovative simulator not only enhances SSD
                    understanding but also contributes to the pedagogical landscape by visualizing the complexities of
                    SSDs, streamlining the learning process, and fostering a robust foundation in computer architecture
                    and storage technologies.
                </p>
            </div>
            {% include 'includes/side_link.html' %}

        </div>

        <h2>News</h2>
        <div class="container">
            <ul>
                <li>
                    <h4>[FA3-R] Semiconductor Software</h4>
                    <p>Friday, January 26, 2024</p>
                    <p>Eyana: The SSD Simulator Exploring the Inner Workings of Solid-State Drives... <a
                            href="http://kcs.cosar.or.kr/2024/download/program/FA3-R.pdf">Read more</a></p>
                </li>

            </ul>
        </div>
</body>

</html>