<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habibur Rahman - Quantum Computing and Machine Learning</title>
    <meta name="description"
        content="Habibur Rahman is a Master’s student at Gyeongsang National University, specializing in Quantum Computing and Machine Learning. As a Research Assistant at the Big Data Software Laboratory, he focuses on developing Eshyana, a quantum computer simulator, aimed at enhancing understanding and engagement in quantum computing education and research. Explore his academic journey and contributions here.">
    <meta name="keywords"
        content="Habibur Rahman, Quantum Computing, Machine Learning, Gyeongsang National University, Research Assistant, Big Data Software Laboratory, Eshyana, Quantum Computer Simulator, Quantum Computing Education, Quantum Computing Research">
    <meta name="author" content="Habibur Rahman">
    <meta name="language" content="English">
    <meta property="og:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta property="og:description"
        content="Habibur Rahman is a Master’s student at Gyeongsang National University, specializing in Quantum Computing and Machine Learning. As a Research Assistant at the Big Data Software Laboratory, he focuses on developing Eshyana, a quantum computer simulator, aimed at enhancing understanding and engagement in quantum computing education and research. Explore his academic journey and contributions here.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qbithabib.com">
    <meta property="og:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <meta property="og:site_name" content="Habibur Rahman">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta name="twitter:description"
        content="Habibur Rahman is a Master’s student at Gyeongsang National University, specializing in Quantum Computing and Machine Learning. As a Research Assistant at the Big Data Software Laboratory, he focuses on developing Eshyana, a quantum computer simulator, aimed at enhancing understanding and engagement in quantum computing education and research. Explore his academic journey and contributions here.">
    <meta name="twitter:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body id="">
    <!-- Your home page content goes here -->
    <!-- Lab Name and Description -->
    {% include 'includes/header.html' %}
    <div class="container" style="margin-top: 3%;">
        <div class="row">
            <div class="col-8">
                <h1>
                    Eyana the SSD Simulator
                </h1>
                <p>
                    I am currently a Master’s student pursuing a degree in Quantum Computing and Machine Learning at
                    Gyeongsang National University. Additionally, I am actively engaged as a Research Assistant (RA) at
                    the esteemed Big Data Software Laboratory. My academic journey in the field of computer science
                    began during my Bachelor’s degree at Daffodil International University (DIU), where I specialized in
                    Computer Science and Engineering. As I continue my pursuit of a master’s degree at Gyeongsang
                    National University and simultaneously contribute to pioneering research as an RA, I am profoundly
                    passionate about exploring the dynamic and ever-evolving realms of quantum computing and machine
                    learning, and their intersections with various domains.
                </p>
                <h3>Research</h3>
                <p>
                    My research focus is on developing a comprehensive quantum computer simulator named Eshyana, a name
                    derived from combining the names of my niece and daughter, Eshika and Eyana. Eshyana aims to offer a
                    complete visualization of a quantum computer, providing an immersive platform for students to
                    explore quantum computing principles.
                </p>

            </div>
            {% include 'includes/side_link.html' %}

        </div>

        <h2>News</h2>
        <div class="container">
            <ul>
                <li>
                    <h4>[FA3-R] Semiconductor Software</h4>
                    <p>Friday, January 26, 2024</p>
                    <p>Eyana: The SSD Simulator Exploring the Inner Workings of Solid-State Drives... <a
                            href="http://kcs.cosar.or.kr/2024/download/program/FA3-R.pdf">Read more</a></p>
                </li>

            </ul>
        </div>
</body>

</html>