<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags for Open Graph (Facebook) -->
    <meta property="og:title" content="Eyana: The SSD Simulator - Experience Flash SSD Technology">
    <meta property="og:description"
        content="Discover Eyana: The SSD Simulator, a groundbreaking web-based tool simplifying Flash SSD technology comprehension. Explore essential operations like pages, blocks, writes, reads, updates, deletes, and garbage collection. Eyana offers visual demonstrations, interactive file uploads, and comprehensive documentation, empowering users to understand Flash SSDs deeply. With a remarkable 99% effectiveness rating, Eyana stands as one of the finest simulators.">
    <meta property="og:image" content="../src/images/flash_ssd_simulator.png">
    <meta property="og:url" content="https://qbithabib.com">

    <!-- Meta tags for general SEO -->
    <meta name="description"
        content="Eyana: The SSD Simulator - Experience Flash SSD Technology. Explore essential SSD operations and concepts. Visual demonstrations, interactive features, and comprehensive documentation.">
    <meta name="keywords"
        content="SSDs, solid-state drives, Flash SSD, Flash SSD simulator, SSD operations, SSD technology, storage optimization">

    <!-- Title -->
    <title>Eyana: The Advance SSD Simulator - Experience Flash SSD Technology</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="../readme_documentation_src/icon/icon.jpeg" type="image/jpeg">
    <link rel="stylesheet" type="text/css" href="static/src/css/ssd_simulator.css">
    <link rel="stylesheet" type="text/css" href="static/src/css/comments_section.css">
    <link rel="stylesheet" type="text/css" href="static/src/css/description_keypoints.css">

    <!-- External Scripts -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9851772843061782"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
    {% include 'includes/header.html' %}
    <header class="bg-light py-4 text-center">
        <div class="container">
            <div style="display: inline-block; position: relative;">
                <span class="definition_ssd" id="definition_ssd">?</span>
                <h1 class="display-4">Eyana: The Advance SSD Simulator</h1>
                <p class="lead">Explore the inner workings of Solid-State Drives</p>
                <!-- <a href="\cell_simulator" class="btn btn-primary">Cell Simulator - Floating Gate Transistor</a> -->
            </div>
        </div>
    </header>

    <div class="container">
        <div class="container center">
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="page">?</span>
                                    Page Size
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="block">?</span>
                                    Page per block
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="plane">?</span>
                                    Block per plane
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="die">?</span>
                                    Plane per die
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="package">?</span>
                                    Die per chip
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="ssd_size">?</span>
                                    Chip per package
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="ssd_size">?</span>
                                    Overprovisioning Ratio
                                </div>
                            </th>
                            <th>
                                <div class="definition-header">
                                    <span class="definition_ssd" id="ssd_size">?</span>
                                    Total SSD Size
                                </div>
                            </th>

                        </tr>
                        <tr>
                            <td id="pageSize">4kb</td>
                            <td id="blockSize">128</td>
                            <td id="planeSize">300</td>
                            <td id="dieSize">4</td>
                            <td id="packageSize">2</td>
                            <td id="flashSSDSize">1</td>
                            <td>
                                <div class="input-group">
                                    <input type="number" id="overprovisioning_ratio" class="form-control" max="20"
                                        value="15" placeholder="less than 20%" aria-label="Overprovisioning Ratio"
                                        aria-describedby="basic-addon2" onchange="handleOverprovisioning(event)">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </td>
                            <td id="totalSize">
                                2.34375gb</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="fullscreen_div">
            <!-- <button id="fullscreen">Go Fullscreen</button> -->
            <div class="row">
                <table>
                    <tr>
                        <th style="margin: auto;">
                            <table style="margin: auto;">
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="input-group mb-1">

                                                    <input type="file" id="upload_trace_file" class="form-control"
                                                        placeholder="Upload Trace File" aria-label="measurement"
                                                        aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Upload Trace
                                                            File</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col">

                                                <select id="select_hitmap_type" class="form-select btn-light border">

                                                    <option value="wc">Write Count</option>
                                                    <option value="ec">Erase Count</option>

                                                </select>

                                            </div>
                                            <!-- <div class="col">
                                                <select id="delete_file" class="form-select btn-light border">
                                                    <option value="delete_file1" selected>Delete</option>
                                                </select>
                                            </div> -->
                                            <!-- <div class="col">
                                                <button type="button" class="btn btn-light border"
                                                    onclick="trimFunction();">
                                                    Execute Trim
                                                </button>
                                            </div> -->

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <button type="button" class="btn btn-light border"
                                                    onclick="garbageCollection()">
                                                    Execute Garbage Collection
                                                </button>
                                            </div>

                                            <div class="col input-group">

                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Select allocation
                                                        scheme</span>
                                                </div>
                                                <select id="ssd_allocation_scheme" class="form-select btn-light border">
                                                    <optgroup label="Static">
                                                        <option value="s1" selected>S1: Chip ➔ Die ➔ Plane ➔ Channel
                                                        </option>
                                                        <option value="s2">S2: Channel ➔ Chip ➔ Die ➔ Plane</option>
                                                        <option value="s3">S3: Channel ➔ Plane ➔ Chip ➔ Die</option>
                                                        <option value="s4">S4: Channel ➔ Die ➔ Chip ➔ Plane</option>
                                                        <option value="s5">S5: Channel ➔ Plane ➔ Die ➔ Chip</option>
                                                        <option value="s6">S6: Channel ➔ Die ➔ Plane ➔ Chip</option>
                                                    </optgroup>
                                                    <optgroup label="Dynamic">
                                                        <option value="single">D1: Dynamic Schemes</option>
                                                        <option value="pmulti">D2: Channel Level Dynamic Schemes
                                                        </option>
                                                        <option value="pdmulti">D3: Die Level Dynamic Schemes</option>
                                                        <option value="pdpmulti">D4: Plane Level Dynamic Schemes
                                                        </option>
                                                    </optgroup>
                                                </select>

                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-light border"
                                                    onclick="stopWritingForce()">
                                                    Stop Writing(Force)
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </th>
                        <th>
                            <div class="rounded-circle d-flex justify-content-center align-items-center text-white"
                                id="processing_status_container"
                                style="width: 130px; height: 130px; background-color: #e4eef1; background-size: cover; background-image: url(/static/src/logo/1amw.gif);">

                                <p class="mt-2 text-center" id="processing_status">upload trace file</p>

                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>

                            <table id="ssd_container">

                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>

                                    <th>
                                        <div class="definition-header">
                                            <span class="definition_ssd" id="mapping">?</span>
                                        </div>Page Level Address Mapping Table
                                    </th>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="overflow-y: auto; max-height: 300px;">
                                            <table class="container" id="mapping_table">
                                                <tr>
                                                    <th>LA</th>
                                                    <th>PA</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <p style="font-size: 10px;">
                                            Number of Mapping Table Entries: <span id="mapping_table_entries">0</span>
                                        </p>
                                    </td>

                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-8 mt-5">
                        <div id="wafChartContainer" style="height: 370px; width: 100%;"></div>
                        <div id="writeCountChartContainer" style="height: 370px; width: 100%;"></div>
                        <div id="eraseCountChartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                    <div class="col-md-4 mt-5">
                        <p class="h5 mt-5 text-center">Write Amplification Factor (WAF)</p>
                        <p id="waf_value" class="text-center">0.00</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="container mt-5" style="overflow-y: auto; max-height: 200px;">
            <h2>
                Block Information Tracer
            </h2>
            <table id="block_information_tracer">
                <thead>
                    <tr>
                        <th>Block</th>
                        <th>Write Count</th>
                        <th>Erase Count</th>
                        <th>Page</th>
                        <!-- <th>Data</th> -->
                        <th>Page State</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="h4 mt-5">We value your feedback!</p>
                <p>Please take a moment to provide us with your valuable feedback:</p>
                <a href="https://forms.gle/J1WJCxWN2cMfhZ4u7" class="btn btn-primary btn-lg mt-3">Give Feedback</a>
            </div>
        </div>
    </div>
    <div class="container" id="popup_description" style="overflow-y: auto; width: 50%; max-height: 400px;">
        <!-- Content will be dynamically inserted here -->
        <h3 id="defination_title" style="text-align: center;">
            </h1>
            <p id="defination_description"></p>
            <button id="closePopupButton">Close</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="static/src/js/advance_flash_ssd_simulator.js"></script>
    <script src="static/src/js/description_keypoints.js"></script>
    <!-- <script src="../views/update_data_flash_ssd.js"></script> -->
</body>

</html>