<!DOCTYPE html>
<html>

<head>
    <meta property="og:title" content="Eyana: The SSD Simulator">
    <meta property="og:description"
        content="Discover Eyana: The SSD Simulator, a groundbreaking web-based tool that simplifies the comprehension of Flash SSD technology. Explore crucial operations like pages, blocks, writes, reads, updates, deletes, and garbage collection, along with concepts such as Write Amplification, Wear Leveling, Parallelism, and Multi-Channel. Eyana offers visual demonstrations, interactive file uploads, and comprehensive documentation, empowering users to gain a deeper understanding of Flash SSDs. With a remarkable 99 percent effectiveness rating from users, Eyana stands as one of the finest simulators for comprehending Flash SSD technology. Dive into this research paper to explore its features, functionalities, and the underlying concepts it elucidates, contributing to educational resources in the field.">
    <meta name="keywords"
        content="SSDs, solid-state drives, structure, operations, optimization, Coding for SSDs, Eyana, SSD Simulator, programmers, performance">
    <meta property="og:image" content="../src/images/flash_ssd_simulator.png">
    <meta property="og:url" content="https://schoolofthought.tech">
    <title>Control Gate</title>
    <link rel="icon" href="../readme_documentation_src/icon/icon.jpeg" type="image/jpeg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../src/css/cell_simulator.css">
</head>

<body>
    <header class="bg-light py-4 text-center">
        <div class="container">
            <div style="display: inline-block; position: relative;">
                <h1 class="display-4">Cell Simulator</h1>
                <p class="lead">Floating Gate Transistor</p>
                <a href="flash_memory.html" class="btn btn-primary">Eyana: The SSD Simulator</a>
            </div>
        </div>
    </header>
    <div id="fullscreen_div">
        <div class="container">

            <!-- <button id="fullscreen">Go Fullscreen</button> -->
            <div class="row justify-content-center">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary float-left"
                                id="write_button">Write/Programmed</button>
                        </div>
                        <div class="col text-center"> <!-- Added "text-center" class here -->
                            <button type="button" class="btn btn-primary" id="erase_button">Read</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary float-right">Erase</button>
                        </div>
                    </div>
                    <p class="p-2 text-center" id="applying_positive_voltage" style="display: none;">Applying 25V</p>
                    <div class="d-flex align-items-center justify-content-center" style="height: 50px;">
                        <div class="vertical-line">
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="blue-div d-flex align-items-center justify-content-center" id="control_gate">
                            <h5>Control Gate</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="black-div d-flex align-items-center justify-content-center">
                            <h5>SiO&#8322;/Insulator</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="blue-div d-flex align-items-center justify-content-center" id="floating_gate">
                            <h5>Floating Gate</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="black-div d-flex align-items-center justify-content-center">
                            <h5>SiO&#8322;/Insulator</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                        <div class="gray-div">
                            <div class="row">
                                <div class="col">
                                    <div class="smaller-div float-left">
                                        <h5 class="text-center mt-2">
                                            Source
                                            <span class="arrow" style="display: none;">&#8594;</span>
                                            <span class="arrow" style="display: none;">&#8594;</span>
                                            <span class="arrow" style="display: none;">&#8594;</span>
                                            <span class="arrow" style="display: none;">&#8594;</span>
                                            <span class="arrow" style="display: none;">&#8594;</span>
                                        </h5>
                                    </div>

                                </div>

                                <div class="col">
                                    <div class="row">
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                    </div>
                                    <p class="pt-5">Silicon Substrate</p>
                                </div>


                                <div class="col">
                                    <div class="smaller-div float-right">
                                        <h5 class="text-center mt-2">Drain</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 50px;">
                        <div class="vertical-line">

                        </div>
                    </div>
                    <p class="text-center" id="applying_negative_voltage" style="display: none;">Applying 25V</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../views/cell_simulator.js"></script>

</body>

</html>