<!DOCTYPE html>
<html>

<head>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Control Gate: The Transistor Simulator">
    <meta property="og:description"
        content="Explore Control Gate, the transistor simulator, a cutting-edge web-based tool designed to simplify the understanding of transistor technology. Dive into crucial transistor operations, including gating, switching, amplification, and more. Control Gate offers interactive simulations, detailed documentation, and comprehensive educational resources, empowering users to grasp transistor fundamentals effectively. With an exceptional user satisfaction rating, Control Gate stands as a premier simulator for mastering transistor concepts. Delve into this research paper to uncover its features, functionalities, and educational contributions to the field.">
    <meta property="og:image" content="../src/images/flash_ssd_simulator.png">
    <meta property="og:url" content="https://qbithabib.com">

    <!-- Meta Tags for General SEO -->
    <meta name="description"
        content="Control Gate: The Transistor Simulator - Experience cutting-edge transistor technology through interactive simulations. Explore transistor operations, gating, switching, amplification, and more.">
    <meta name="keywords"
        content="transistors, transistor simulator, transistor technology, transistor operations, Control Gate, electronic components, semiconductor devices">

    <!-- Title -->
    <title>Eyana: The Transistor Simulator</title>

    <!-- Stylesheets -->
    <link rel="icon" href="../readme_documentation_src/icon/icon.jpeg" type="image/jpeg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/src/css/cell_simulator.css">

    <!-- External Scripts -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9851772843061782"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
    {% include 'includes/header.html' %}
    <header class="bg-light py-4 text-center">
        <div class="container">
            <div style="display: inline-block; position: relative;">
                <h1 class="display-4">Eyana: The Cell Simulator</h1>
                <p class="lead">Floating Gate Transistor</p>
                <a href="\" class="btn btn-primary">Eyana: The SSD Simulator</a>
            </div>
        </div>
    </header>
    <div id="fullscreen_div">
        <div class="container">

            <!-- <button id="fullscreen">Go Fullscreen</button> -->
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3">
                            <button type="button" class="btn btn-primary float-left" id="write_button">Write</button>
                        </div>
                        <div class="col-4 text-center"> <!-- Added "text-center" class here -->
                            <button type="button" class="btn btn-primary" id="read_button">Read</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary float-right" id="erase_button">Erase</button>
                        </div>
                        <!-- dropdown Signle Level Cell or Multi Level Cell  -->
                        <div class="col-3">
                            <select class="form-control" id="cell_type">
                                <option value="single_level_cell">Single Level Cell</option>
                                <option value="multi_level_cell" selected>Multi Level Cell</option>
                            </select>

                        </div>

                    </div>
                    <p class="p-2 text-center" id="applying_write_voltage" style="display: none;">Applying 25V</p>
                    <p class="p-2 text-center" id="applying_read_voltage" style="display: none;"></p>
                    <div class="d-flex align-items-center justify-content-center" style="height: 50px;">
                        <div class="vertical-line">
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="blue-div d-flex align-items-center justify-content-center" id="control_gate">
                            <h5>Control Gate</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="black-div d-flex align-items-center justify-content-center">
                            <h5>SiO&#8322;/Insulator</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="blue-div d-flex align-items-center justify-content-center" id="floating_gate">
                            <h5>Floating Gate</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="black-div d-flex align-items-center justify-content-center">
                            <h5>SiO&#8322;/Insulator</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                        <div class="gray-div">
                            <div class="row">
                                <div class="col">
                                    <div class="smaller-div float-left">
                                        <h5 class="text-center mt-2">
                                            Source
                                            <span class="arrow"
                                                style="display: none; position: absolute;">&#8592;</span>
                                            <span class="arrow"
                                                style="display: none; position: absolute;">&#8592;</span>
                                            <span class="arrow"
                                                style="display: none; position: absolute;">&#8592;</span>
                                            <span class="arrow"
                                                style="display: none; position: absolute;">&#8592;</span>
                                            <span class="arrow"
                                                style="display: none; position: absolute;">&#8592;</span>
                                        </h5>
                                    </div>

                                </div>

                                <div class="col">
                                    <div class="row">
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                        <div class="m-1 d-flex align-items-center justify-content-center rounded-circle bg-danger text-white"
                                            id="electron1"
                                            style="width: 20px; height: 20px; font-size: 20px; position: relative;">
                                            -
                                        </div>
                                    </div>
                                    <p class="pt-5">Silicon Substrate</p>
                                </div>


                                <div class="col">
                                    <div class="smaller-div float-right">
                                        <h5 class="text-center mt-2" id="drain_id">Drain</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 50px;">
                        <div class="vertical-line">
                            <div class="rounded-div neg_voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div neg_voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div neg_voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div neg_voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div neg_voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                            <div class="rounded-div neg_voltage_circle">
                                <span class="positive_electron" style="position: absolute;">+</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" id="applying_erase_voltage" style="display: none;">Applying 25V</p>
                </div>
                <div class="col-3" id="single_level_cell" style="display: none;">

                    <div class="half-circle circle5">
                        <div class="vertical_text_threshold">
                            00-07V
                        </div>
                        <p style="position: absolute; color: red; margin-top: 40%; margin-left: 30%; z-index: 9999;">
                            1</p>

                    </div>
                    <div class="half-circle circle6">
                        <div class="vertical_text_threshold">
                            07-14V
                        </div>
                        <p style="position: absolute; color: red; margin-top: 40%; margin-left: 30%; z-index: 9999;">
                            0</p>
                    </div>
                    <div class="single_cell_half_circle_line">
                    </div>
                    <p class="threshold_voltage ml-5">Threshold Voltage</p>

                </div>
                <div class="col-3" id="multi_level_cell" style="display: block;">
                    <div class="half-circle circle1">
                        <div class="vertical_text_threshold">
                            00-03V
                        </div>
                        <p style="position: absolute; color: red; margin-top: 40%; margin-left: 30%; z-index: 9999;">
                            11</p>
                    </div>
                    <div class="half-circle circle2">
                        <div class="vertical_text_threshold">
                            03-06V
                        </div>
                        <p style="position: absolute; color: red; margin-top: 40%; margin-left: 30%; z-index: 9999;">
                            10</p>

                    </div>
                    <div class="half-circle circle3">
                        <div class="vertical_text_threshold">
                            06-09V
                        </div>
                        <p style="position: absolute; color: red; margin-top: 40%; margin-left: 30%; z-index: 9999;">
                            01</p>

                    </div>
                    <div class="half-circle circle4">
                        <div class="vertical_text_threshold">
                            09-12V
                        </div>
                        <p style="position: absolute; color: red; margin-top: 40%; margin-left: 30%; z-index: 9999;">
                            00</p>
                    </div>
                    <div class="half_circle_line">
                    </div>
                    <p class="threshold_voltage">Threshold Voltage</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="h4 mt-5">We value your feedback!</p>
                <p>Please take a moment to provide us with your valuable feedback:</p>
                <a href="https://forms.gle/J1WJCxWN2cMfhZ4u7" class="btn btn-primary btn-lg mt-3">Give Feedback</a>
            </div>
        </div>
    </div>
    <script src="static/src/js/cell_simulator.js"></script>

</body>

</html>