<!DOCTYPE html>
<html>
<head>
  <title>Moving Circular Div</title>
  <style>
    #blueDiv {
      width: 300px;
      height: 300px;
      background-color: blue;
      position: relative;
    }

    #redDiv {
      width: 50px;
      height: 50px;
      background-color: red;
      border-radius: 50%;
      position: absolute;
    }
  </style>
</head>
<body>
  <div id="blueDiv">
    <div id="redDiv"></div>
  </div>

  <script>
    var redDiv = document.getElementById("redDiv");
    var blueDiv = document.getElementById("blueDiv");

    var targetX = blueDiv.offsetLeft + (blueDiv.offsetWidth - redDiv.offsetWidth) / 2;
    var targetY = blueDiv.offsetTop + (blueDiv.offsetHeight - redDiv.offsetHeight) / 2;

    var currentX = redDiv.offsetLeft;
    var currentY = redDiv.offsetTop;

    function moveRedDiv() {
      var diffX = (targetX - currentX) * 0.05; // Adjust the speed of motion by changing the multiplier
      var diffY = (targetY - currentY) * 0.05;

      currentX += diffX;
      currentY += diffY;

      redDiv.style.left = currentX + "px";
      redDiv.style.top = currentY + "px";

      if (Math.abs(diffX) > 0.1 || Math.abs(diffY) > 0.1) {
        requestAnimationFrame(moveRedDiv);
      }
    }

    moveRedDiv();
  </script>
</body>
</html>
