<!DOCTYPE html>
<html>
<head>
    <title>Display LaTeX File in HTML</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <pre id="tex-content"></pre>

    <script>
        // Function to fetch and display the LaTeX file
        function displayTexFile(filePath) {
            fetch(filePath)
                .then(response => response.text())
                .then(texContent => {
                    document.getElementById('tex-content').innerText = texContent;
                    // Process LaTeX content for rendering
                    MathJax.typeset();
                })
                .catch(error => console.error('Error fetching LaTeX file:', error));
        }

        // Call the function with the path to your LaTeX file
        displayTexFile('../paper_writing/latex_file/conference_101719.tex');
    </script>
</body>
</html>
