<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habibur Rahman - Quantum Computing and Machine Learning</title>
    <meta name="description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta name="keywords" content="EyanaSSD Simulator, Eyana SSD, Big Data System Software Lab">
    <meta name="author" content="Habibur Rahman">
    <meta name="language" content="English">
    <meta property="og:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta property="og:description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qbithabib.com">
    <meta property="og:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <meta property="og:site_name" content="Habibur Rahman">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta name="twitter:description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta name="twitter:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body id="">
    <!-- Your home page content goes here -->
    <!-- Lab Name and Description -->
    {% include 'includes/header.html' %}
    <div style="margin-top: 3%; margin: 3%;">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-size: 90px;">
                    <strong>EyanaSSD</strong>
                </h1>

                <h1 style="font-size: 60px;">
                    Explore the Inner Workings of
                    Solid-State Drives with Data Visualization
                </h1>

                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#E65100;">Intuitive Visualization</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: The EyanaSSD Simulator provides an
                        intuitive two-dimensional display that visualizes key SSD metrics, enabling users to monitor
                        continuous writing patterns and understand the inner workings of SSDs. </span>
                </p>
                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#EF6C00;">Workload Analysis</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: It supports comprehensive evaluation of
                        various workloads, including Sequential, Uniform Random, and Zipf distributions, with data
                        sourced from FEMU, offering detailed insights into SSD performance under different
                        scenarios.</span></p>
                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#FB8C00;">Educational</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: With over a thousand users praising its
                        effectiveness, EyanaSSD Simulator has proven to save time and enhance understanding of SSD
                        behavior, making it a valuable educational tool.</span></p>

                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#FFA726;">Simple and Easy Access</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: The Eyana SSD Simulator is the only
                        web-based SSD simulator that allows users to upload workloads, visualize real-time processes,
                        and explore various SSD features with ease.</span></p>

                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#FFCC80;">User-friendly</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: Simply upload your workload in the supported
                        format, and the simulator automatically analyzes the data, providing clear, actionable insights
                        into SSD performance.

                    </span></p>
            </div>
            <div class="col-md-6 row ">
                <!-- <img src="static/src/images/cell_simulator.gif" class="img-fluid" alt="EyanaSSD"> -->
                <div class="col-12">
                    <video autoplay loop muted style="width: 100%;">
                        <source src="static/src/images/cell.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-12">
                    <!-- <video autoplay loop muted style="width: 100%; height: auto;">
                        <source src="static/src/images/sequential_gif.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->
                    <video autoplay loop muted style="width: 100%; height: auto;">
                        <source src="static/src/images/sequential.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- <img src="static/src/images/ssd.png" class="img-fluid" alt="EyanaSSD"> -->
            </div>
            <hr style="border: 1px solid black; margin: 10px 0; width: 100%;">

            <div class="col-md-12 row">
                <div class="col-md-12">
                    <h1 style="font-size: 90px; text-align: center; margin-top: 3%;">
                        <strong>How does EyanaSSD work?</strong>
                    </h1>
                    <h1 style="font-size: 60px; text-align: center; margin-left: 5%; margin-right: 5%;">
                        Metrics are visualized through a two-dimensional
                        display that shows the continuous writing patterns in SSD
                    </h1>
                    <h4 class="m-5">
                        <strong style="color: green;">Bright Green to Dark Green:</strong> As the green
                        color transitions to darker shades, it reflects a gradual reduction in the number of invalid
                        pages. Bright green represents regions with the maximum number of invalid pages, while dark
                        green indicates areas with the minimum number of invalid pages, where the majority of pages are
                        valid. <strong style="color: rgb(230, 19, 219);">Bright Pink to Light Pink:</strong> As the pink
                        color
                        transitions to lighter shades, it reflects a gradual reduction in the
                        number of invalid pages. Bright pink represents regions with the maximum number of invalid pages
                        and lower erase counts, while light pink indicates areas with the minimum number of invalid
                        pages and similarly low erase counts.
                        <strong style="color: rgb(221, 180, 221);">White to Pink-White:</strong> As the color
                        transitions from white to pink-white, it reflects a shift
                        in the balance between invalid pages and erase counts. White represents regions where the ratio
                        of invalid pages to erase counts is balanced or low, while pink-white indicates areas with a
                        higher number of invalid pages, but with relatively low erase counts.

                    </h4>
                </div>


                <div class="col-md-6 mt-2">
                    <!-- <video id="uni" autoplay loop muted style="width: 100%;">
                        <source src="static/src/images/unirandomS.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->


                    <iframe width="100%" height="720"
                        src="https://www.youtube.com/embed/c4CCnUvB6fU?autoplay=1&mute=1&loop=1"
                        title="unirandomS Fast Forward" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h1 style="text-align: center;"><strong>Workload Type:</strong> Uniform Random</h1>
                    <!-- <div style="margin-top: 10px; text-align: center;">
                        <label for="uniSpeedSlider">Playback Speed:</label>
                        <input id="uniSpeedSlider" type="range" min="0.1" max="2" step="0.1" value="1"
                            style="width: 200px;" />
                        <span id="uniSpeedDisplay">1x</span>
                        <div id="videoControls">
                            <span id="currentTime">0:00</span> / <span id="totalTime">0:00</span>
                        </div>
                    </div>
                    <script>
                        const uniVideo = document.getElementById('uni');
                        const uniSpeedSlider = document.getElementById('uniSpeedSlider');
                        const uniSpeedDisplay = document.getElementById('uniSpeedDisplay');

                        // Update playback speed and display current value
                        uniSpeedSlider.addEventListener('input', (event) => {
                            const speed = parseFloat(event.target.value);
                            uniVideo.playbackRate = speed;
                            uniSpeedDisplay.textContent = `${speed.toFixed(1)}x`;
                        });

                        const currentTimeDisplay = document.getElementById('currentTime');
                        const totalTimeDisplay = document.getElementById('totalTime');

                        // Format time in mm:ss
                        function formatTime(seconds) {
                            const minutes = Math.floor(seconds / 60);
                            const secs = Math.floor(seconds % 60);
                            return `${minutes}:${secs < 10 ? '0' : ''}${secs}`;
                        }

                        // Update total video time on metadata load
                        uniVideo.addEventListener('loadedmetadata', () => {
                            totalTimeDisplay.textContent = formatTime(uniVideo.duration);
                        });

                        // Update current time during playback
                        uniVideo.addEventListener('timeupdate', () => {
                            currentTimeDisplay.textContent = formatTime(uniVideo.currentTime);
                        });
                    </script> -->
                </div>
                <div class="col-md-6 mt-2">
                    <!-- <video id="seq" autoplay loop muted style="width: 100%;">
                        <source src="static/src/images/sequential.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->
                    <iframe width="100%" height="720"
                        src="https://www.youtube.com/embed/yN9UOzE1oAE?autoplay=1&mute=1&loop=1"
                        title="Sequential  Fast Forward" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h1 style="text-align: center;"><strong>Workload Type:</strong> Sequential</h1>
                    <!-- <div style="margin-top: 10px; text-align: center;">
                        <label for="seqSpeedSlider">Playback Speed:</label>
                        <input id="seqSpeedSlider" type="range" min="0.1" max="2" step="0.1" value="1"
                            style="width: 200px;" />
                        <span id="seqSpeedDisplay">1x</span>
                    </div>
                    <script>
                        const seqVideo = document.getElementById('seq');
                        const seqSpeedSlider = document.getElementById('seqSpeedSlider');
                        const seqSpeedDisplay = document.getElementById('seqSpeedDisplay');

                        // Update playback speed and display current value
                        seqSpeedSlider.addEventListener('input', (event) => {
                            const speed = parseFloat(event.target.value);
                            seqVideo.playbackRate = speed;
                            seqSpeedDisplay.textContent = `${speed.toFixed(1)}x`;
                        });
                    </script> -->

                </div>

                <div class="col-md-6 mt-2">
                    <!-- <video id="zip" autoplay loop muted style="width: 100%;">
                        <source src="static/src/images/ZipfS.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->
                    <iframe width="100%" height="720"
                        src="https://www.youtube.com/embed/f0_XfwO6X6w?autoplay=1&mute=1&loop=1"
                        title="ZipfS Fast Forward" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <h1 style="text-align: center;"><strong>Workload Type:</strong> Zipf</h1>
                    <!-- <div style="margin-top: 10px; text-align: center;">
                        <label for="zipSpeedSlider">Playback Speed:</label>
                        <input id="zipSpeedSlider" type="range" min="0.1" max="2" step="0.1" value="1"
                            style="width: 200px;" />
                        <span id="zipSpeedDisplay">1x</span>
                    </div>
                    <script>
                        const zipVideo = document.getElementById('zip');
                        const zipSpeedSlider = document.getElementById('zipSpeedSlider');
                        const zipSpeedDisplay = document.getElementById('zipSpeedDisplay');

                        // Update playback speed and display current value
                        zipSpeedSlider.addEventListener('input', (event) => {
                            const speed = parseFloat(event.target.value);
                            zipVideo.playbackRate = speed;
                            zipSpeedDisplay.textContent = `${speed.toFixed(1)}x`;
                        });
                    </script> -->


                </div>
                <div class="col-md-6 mt-2">
                    <iframe width="100%" height="720"
                        src="https://www.youtube.com/embed/nn6c7FWKRbc?autoplay=1&mute=1&loop=1"
                        title="Basic SSD Fast Forward" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h1 style="text-align: center;"><strong>Basic SSD Simulator(Education)</strong></h1>
                    <!-- <video id="basic" autoplay loop muted style="width: 100%;">
                        <source src="static/src/images/basic_ssd.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                    <h1 style="text-align: center;"><strong>Basic SSD Simulator(Education)</strong></h1>
                    <div style="margin-top: 10px; text-align: center;">
                        <label for="basicSpeedSlider">Playback Speed:</label>
                        <input id="basicSpeedSlider" type="range" min="0.1" max="2" step="0.1" value="1"
                            style="width: 200px;" />
                        <span id="basicSpeedDisplay">1x</span>
                    </div>
                    <script>
                        const basicVideo = document.getElementById('basic');
                        const basicSpeedSlider = document.getElementById('basicSpeedSlider');
                        const basicSpeedDisplay = document.getElementById('basicSpeedDisplay');

                        // Update playback speed and display current value
                        basicSpeedSlider.addEventListener('input', (event) => {
                            const speed = parseFloat(event.target.value);
                            basicVideo.playbackRate = speed;
                            basicSpeedDisplay.textContent = `${speed.toFixed(1)}x`;
                        });
                    </script> -->
                </div>



            </div>
            <hr style="border: 1px solid black; margin: 10px 0; width: 100%;">
            <div class="col-md-12">
                <h1 style="font-size: 90px; text-align: center; margin-top: 3%;">
                    <strong>How can workloads be uploaded?</strong>
                </h1>
                <h1 style="font-size: 60px; text-align: center; margin-left: 5%; margin-right: 5%;">
                    Metrics are visualized through a two-dimensional
                    display that shows the continuous writing patterns in SSD
                </h1>
            </div>
            <div class="col-md-12" style="display: flex; justify-content: center; align-items: center;">



                <!-- <video id="tutorial" autoplay loop muted style="width: 100%; height: 800px;">
                    <source src="static/src/images/tutorial.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> -->
                <iframe width="60%" height="720"
                    src="https://www.youtube.com/embed/ib0WDeuhbFY?autoplay=1&mute=1&loop=1"
                    title="SSD tutorial Fast Forward" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <!-- <div style="margin-top: 10px; text-align: center;">
                    <label for="tutorialSpeedSlider">Playback Speed:</label>
                    <input id="tutorialSpeedSlider" type="range" min="0.5" max="2" step="0.1" value="1"
                        style="width: 200px;" />
                    <span id="tutorialSpeedDisplay">1x</span>
                </div>
                <script>
                    const tutorialVideo = document.getElementById('tutorial');
                    const tutorialSpeedSlider = document.getElementById('tutorialSpeedSlider');
                    const tutorialSpeedDisplay = document.getElementById('tutorialSpeedDisplay');

                    // Update playback speed and display current value
                    tutorialSpeedSlider.addEventListener('input', (event) => {
                        const speed = parseFloat(event.target.value);
                        tutorialVideo.playbackRate = speed;
                        tutorialSpeedDisplay.textContent = `${speed.toFixed(1)}x`;
                    });
                </script> -->
            </div>
        </div>
    </div>

</body>

</html>