<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habibur Rahman - Quantum Computing and Machine Learning</title>
    <meta name="description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta name="keywords"
        content="Habibur Rahman, Quantum Computing, Machine Learning, Gyeongsang National University, Research Assistant, Big Data Software Laboratory, Eshyana, Quantum Computer Simulator, Quantum Computing Education, Quantum Computing Research">
    <meta name="author" content="Habibur Rahman">
    <meta name="language" content="English">
    <meta property="og:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta property="og:description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qbithabib.com">
    <meta property="og:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <meta property="og:site_name" content="Habibur Rahman">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habibur Rahman - Quantum Computing and Machine Learning">
    <meta name="twitter:description" content="Eyana the SSD simulator is an innovative educational and research tool, the NAND flash memory cell (called
        floating gate transistor) and flash-based solid-state-drive (SSD) simulator, created to facilitate a
        comprehensive understanding of SSDs by providing students with a visual representation of the
        internal workings of SSDs and transistors NAND cells.">
    <meta name="twitter:image"
        content="https://avatars.githubusercontent.com/u/16438756?s=400&u=25d27c30918f5228ed650ff84fab64ce5a588fce&v=4">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body id="">
    <!-- Your home page content goes here -->
    <!-- Lab Name and Description -->
    {% include 'includes/header.html' %}
    <div style="margin-top: 3%; margin: 3%;">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-size: 100px;">
                    <strong>EyanaSSD</strong>
                </h1>

                <h1 style="font-size: 70px;">
                    Explore the Inner Workings of
                    Solid-State Drives with Data Visualization
                </h1>

                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#E65100;">Intuitive Visualization</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: Metrics are visualized through a
                        two-dimensional display that shows the continuous writing patterns in SSD </span>
                </p>
                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#EF6C00;">Workload Analysis</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: evaluated on <b>Sequential, Uniform Random
                            and Zipf</b> workloads from FEMU</span></p>
                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#FB8C00;">Educational</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: more then one thousand user liked it and
                        comfirm that its save time</span></p>

                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#FFA726;">Simple and Easy Access</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: the only web-based simulator. Upload your workload watch the process</span></p>

                <p class="h1 text-xs-center spacing"><span class="t-b"
                        style="font-family:Sans-serif; color:#FFCC80;">User-friendly</span><span
                        style="font-family:arial; color:rgb(73, 69, 69);">: upload any workload as per the workload format and analyze </span></p>
            </div>
            <div class="col-md-6">
                <img src="static/src/images/ssd.png" class="img-fluid" alt="EyanaSSD">
            </div>
            <div class="col-md-12 row">
                <div class="col-md-12">
                    <h1 style="font-size: 100px; text-align: center; margin-top: 3%;">
                        <strong>How does EyanaSSD work?</strong>
                    </h1>
                    <h1 style="font-size: 70px; text-align: center; margin-left: 5%; margin-right: 5%;">
                        Metrics are visualized through a two-dimensional
                        display that shows the continuous writing patterns in SSD
                    </h1>
                </div>


                <div class="col-md-6">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/WeNKzftR_7s"
                        title="Uniform Random V2" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">

                </div>

            </div>
        </div>
    </div>

</body>

</html>